body{
background-image: url(../images/fondo.png)!important;
-webkit-background-size: cover !important;
-moz-background-size: cover !important;
-o-background-size: cover !important;
background-size: cover !important;
background-position: center !important;
background-repeat:no-repeat !important;
background-attachment: fixed !important;
}
#navbarIni{
	background-color: rgba(244, 172, 86, 1)!important;
}