.bg-gn{
	font-weight: bold!important;
	background-color: rgba(5, 170, 0, 1)!important;
	color:white!important;
}
.matop{
	margin-top: 20%!important;
}
.border1{
	border-top-left-radius:75px!important;
	border-top-right-radius:75px!important;
}
.border2{
	height: 4vh!important;
	border-bottom-left-radius:75px!important;
	border-bottom-right-radius:75px!important;	
}
.border3{
	border-bottom-left-radius:50px!important;
	border-bottom-right-radius:50px!important;	
}